<div class="bt-search">
    <div class="search-box">
        <!-- 门店名称 -->
        <div class="input1-box">
            <nz-form-label>门店名称</nz-form-label>
            <input type="text" nz-input placeholder="请输入" style="width: 210px;" nzSize="default"
                [(ngModel)]="queryForm.storeName">
        </div>

        <!-- 用户 -->
        <div class="input-box">
            <nz-form-label>用户</nz-form-label>
            <input type="text" nz-input placeholder="请输入ID/姓名/联系方式" style="width: 210px;" nzSize="default"
                [(ngModel)]="queryForm.user">
        </div>
        <!-- 门店状态 -->
        <div class="select-box">
            <nz-form-label>门店状态</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="queryForm.status">
                <nz-option nzLabel="全部" nzValue=""></nz-option>
                <nz-option nzLabel="待完善" nzValue="1"></nz-option>
                <nz-option nzLabel="待审核" nzValue="2"></nz-option>
                <nz-option nzLabel="审核通过" nzValue="3"></nz-option>
                <nz-option nzLabel="审核不通过" nzValue="4"></nz-option>
                <nz-option nzLabel="暂不认证" nzValue="10"></nz-option>
                <nz-option nzLabel="审核通过（已读）" nzValue="20"></nz-option>
            </nz-select>
        </div>

        <!-- 提交时间 -->
        <div class="date-box">
            <nz-form-label>提交时间</nz-form-label>
            <!-- <nz-date-picker [(ngModel)]="queryForm.beginTime"></nz-date-picker> -->
            <nz-range-picker [nzFormat]="'yyyy-MM-dd'" [(ngModel)]="queryForm.dateFormat"></nz-range-picker>
        </div>
        <!-- 搜索 -->
        <button nz-button nzType="primary" nzSearch (click)="query()"><i nz-icon nzType="search"></i></button>
        <!-- <div class="bt-search">
            <button nz-button nzType="primary" (click)="query()">查询</button>
        </div> -->
    </div>
    <!-- 其他功能按钮 -->
    <div class="bt-list">
        <a class="refresh" nzTooltipTitle="刷新" nzTooltipPlacement="top" nz-tooltip (click)="refresh()"><i nz-icon
                nzType="sync" nzTheme="outline"></i></a>
        <!-- <a class="export" nzTooltipTitle="导出" nzTooltipPlacement="top" nz-tooltip><i nz-icon nzType="download"
                nzTheme="outline"></i></a> -->
    </div>
</div>

<main>
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="listOfData?.list" [nzShowPagination]="false"
        [nzPageSize]="listOfData?.size" [nzLoading]="tableLoading">
        <thead>
            <tr>
                <th nzAlign="center">id</th>
                <th nzAlign="center">关联用户昵称</th>
                <th nzAlign="center">关联用户</th>
                <th nzAlign="center">门店名称</th>
                <th nzAlign="center">门店状态</th>
                <th nzAlign="center">所在区域</th>
                <th nzAlign="center">最近提交时间</th>
                <th nzAlign="center" nzWidth="270px">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="searchHint && listOfData?.list">
                <td class="searchHint" nzAlign="center" colspan="13">
                    <span>搜索 “{{searchName}}”，找到&nbsp;{{ listOfData?.total }}&nbsp;条结果</span>
                    <a (click)="backList()">返回原列表</a>
                </td>
            </tr>
            <tr *ngFor="let data of listOfData?.list">
                <td nzAlign="center">{{ data.id}}</td>
                <td nzAlign="center">{{ data.nickname ? data.nickname : '-'}}</td>
                <td nzAlign="center">{{ data.phone ? data.phone : '-'}}</td>
                <td nzAlign="center">{{ data.storeName ? data.storeName : '-'}}</td>
                <td nzAlign="center" class="{{getStatusColor(data.status)}}">{{ status_to_text(data.status) }}</td>
                <td nzAlign="left">{{ data.businessArea +  data.businessAddress}}</td>
                <td nzAlign="center">{{ data.createTime}}</td>
                <td nzAlign="center">
                    <a nz-button nz-button-tdlink nzType="link" [routerLink]="['/customer/tabs',data.userId,1]">详情</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="pagination-box">
        <div class="pagination-template">
            <ng-template #totalTemplate let-total> 共有 {{ total }} 条 </ng-template>
            <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]"nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="1" [nzTotal]="listOfData?.total"
                [nzShowTotal]="totalTemplate" [nzPageSize]="listOfData?.pageSize" [nzPageIndex]="listOfData?.pageNum"
                (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
            </nz-pagination>
        </div>
    </div>
</main>