.bt-search {
    .search-box {
        float: left;
        >div{
            display: flex;
            float: left;
        }
        nz-form-label{
            margin-left: 20px;
        }
        .date-box {
            nz-date-picker {
                width: 200px;
            }
        }
        .select-box {
            nz-select {
                width: 200px;
            }
        }
        input{
            width: 200px;
        }
    }
    .bt-list{
      float: left;
      a{
        width: 26px;
        height: 26px;
        line-height: 26px;
        display: block;
        text-align: center;
        float: left;
        margin-top: 3px;
        &:hover{
          background: #ebeef2;
        }
      }
      &:after {content: ' ';display: block;clear: both;height: 0;visibility: hidden;}
    }
    &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
    &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}
main {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    .pagination-box {
        height: 56px;
        line-height: 56px;
        padding: 0 18px;
        font-size: 12px;
        .pagination-template {
            float: left;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
    }
}
.importBox{
    textarea{
        margin-bottom: 10px;
    }
    .followFile{
        height: 32px;
        line-height: 32px;
        padding: 0px 20px;
        position: relative;
        display: inline-block;
        text-align: center;
        border: 1px dashed #bfbfbf;
        cursor: pointer;
        font-size: 12px;
        span{
            display: block;
        }
        input {
            display: none;
        }
    }
    .bt-box{
        label{
            float: left;
        }
        font{
            margin-top: 6px;
            margin-left: 10px;
            font-size: 12px;
            float: left;
            display: inline-block;
        }
        button{
            float: right;
        }
        &:after {content: ' ';display: block;clear: both;height: 0;visibility: hidden;}
    }
    ul{
        margin-top: 10px;
        margin-bottom: 30px;
        li{
            height: 32px;
            line-height: 32px;
            span{
                margin-right: 30px;
                color: #118ee9;
                float: left;
            }
            a{
                margin-right: 10px;
                padding: 0;
                float: left;
                color: #000;
            }
            &:after {content: ' ';display: block;clear: both;height: 0;visibility: hidden;}
        }
    }
}
.followTable{
   ul{
       li{
           width: 400px;
           height: 32px;
           line-height: 32px;
           a{
                margin-left: 10px;
                color: #1890ff;
           }
       }
   }
}
nz-pagination {
    margin-top: 12px;
}

nz-table {
    th {
        height: 38px;
        padding: 0;
        color: #888;
        background: #fff !important;
        border-right: none !important;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        position: relative;
        &:nth-child(1){
          width: 80px;
        }
        // &:nth-child(1) {
        //     width: 150px;
        // }
    }
    td {
        height: 56px;
        padding: 0;
        font-size: 12px;
        border-right: none !important;
        border-bottom: 1px solid rgb(229, 229, 229) !important;
        &.searchHint{
          a{
            margin-left: 10px;
            color: #006eff;
            display: inline-block;
          }
        }
        &.font1 {
            color: #008000;
        }
        &.font0 {
            color: orange;
        }
    }
}
.ant-table-tbody > tr.ant-table-row:hover > td {
    background: #f2f2f2;
}

[nz-button] {
    margin-right: 8px;
}
[nz-button-tdlink] {
    margin-right: 6px;
    padding: 0;
}

:host ::ng-deep .ant-modal-footer {
    display: none;
}

.saveBtn {
    margin-top: 50px;
}
.pagination-box {
    height: 56px;
    line-height: 56px;
    padding: 0 18px;
    font-size: 12px;
    span {
        float: left;
    }
    .pagination-template {
        float: right;
    }
    &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}
