.warehouse {
    .bt-box {
        float: left;
    }
    .bt-search {
        float: right;
    }

    .search-box {
        .select-box {
            float: right;
            nz-select {
                width: 200px;
                margin: 0 8px;
            }
        }
        .input-box {
            width: 200px;
            margin: 0 8px 0 45px;
            display: flex;
            float: right;
            nz-form-label {
                margin-left: -45px;
            }
        }
    }
    &:after {
        content: " ";
        display: block;
        clear: both;
        height: 0;
        visibility: hidden;
    }
}

main {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    .pagination-box {
        height: 56px;
        line-height: 56px;
        padding: 0 18px;
        font-size: 12px;
        .pagination-template {
            float: left;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
    }
}
nz-pagination {
    margin-top: 12px;
}

nz-table {
    th {
        height: 38px;
        padding: 0;
        color: #888;
        background: #fff !important;
        border-right: none !important;
        border-bottom: 1px solid #ddd;
        font-size: 14px;
        position: relative;
        &:nth-child(1){
          width: 80px;
        }
    }
    td {
        height: 56px;
        padding: 0;
        font-size: 12px;
        border-right: none !important;
        border-bottom: 1px solid rgb(229, 229, 229) !important;
        // 字体红色
        &.font_red {
            color: #ff0052;
        }
        // 字体蓝色
        &.font_blue {
            color: #2e8ff4;
        }
        // 字体绿色
        &.font_Green {
            color: #008000;
        }
        // 字体黄色
        &.font_Yellow {
            color: #ff9900;
        }
        // 字体灰色
        &.font_Gray {
            color: #bfbfbf;
        }
        // 字体黑子
        &.font_Black {
            color: #262626;
        }
    }
}
.searchHint {
    a {
        margin-left: 10px;
        color: #006eff;
        display: inline-block;
    }
}

::ng-deep .ant-modal-footer {
    display: none;
}
[nz-button-tdlink]{
    margin-right: 6px;
    padding: 0;
  }
  