<div class="app-hot-search-search">
    <div class="bt-box">
        <button nz-button nzType="primary" (click)="onOpenModalAdd()">新增</button>
    </div>
    <div class="search-box">
        <!-- 状态 -->
        <div class="select-box">
            <nz-form-label [nzSpan]="5">状态</nz-form-label>
            <nz-select nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="queryForm.status">
                <nz-option nzValue="0" nzLabel="未开始"></nz-option>
                <nz-option nzValue="1" nzLabel="进行中"></nz-option>
                <nz-option nzValue="2" nzLabel="已结束"></nz-option>
            </nz-select>
        </div>
        <!-- 搜索 -->
        <button nz-button nzType="primary" nzSearch (click)="onQuery()">查询</button>
    </div>
</div>
<main class="app-hot-search-main">
    <nz-table #rowSelectionTable nzShowSizeChanger [nzData]="tableData?.records" [nzShowPagination]="false"
        [nzPageSize]="tableData?.records?.size" [nzLoading]="tableLoading">
        <thead>
            <tr>
                <th nzAlign="center">排序</th>
                <th nzAlign="center" nzWidth="10%">名称</th>
                <th nzAlign="center" nzWidth="20%">标签</th>
                <th nzAlign="center" nzWidth="10%">跳转方式</th>
                <th nzAlign="center" nzWidth="10%">开始时间</th>
                <th nzAlign="center" nzWidth="10%">结束时间</th>
                <th nzAlign="center" nzWidth="10%">状态</th>
                <th nzAlign="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of tableData?.records; let i = index">
                <!-- 排序 -->
                <td nzAlign="center">{{ queryForm.pageSize * (queryForm.pageNum - 1) + i + 1 }}</td>
                <!-- 名称 -->
                <td nzAlign="center">{{item.word}}</td>
                <!-- 标签 -->
                <td nzAlign="center">
                    <img *ngIf="item.hPicUrl" nz-image [nzSrc]="item.hPicUrl" class="pic-icon">
                    <span *ngIf="!item.hPicUrl">-</span>
                </td>
                <!-- 跳转方式 -->
                <td nzAlign="center">{{item.hurl || '-'}}</td>
                <!-- 开始时间 -->
                <td nzAlign="center">{{item.beginTime || '-'}}</td>
                <!-- 结束时间 -->
                <td nzAlign="center">{{item.endTime || '-'}}</td>
                <!-- 状态 -->
                <td nzAlign="center">{{status_to_text(item.status)}}</td>
                <!-- 操作 -->
                <td nzAlign="center">
                    <a nz-button nz-button-tdlink nzType="link" (click)="onTableMove(item, 'up')">上移</a>
                    <a nz-button nz-button-tdlink nzType="link" (click)="onTableMove(item, 'down')">下移</a>
                    <a nz-button nz-button-tdlink nzType="link" (click)="onTableEdit(item)">编辑</a>
                    <a nz-button nz-button-tdlink nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="确认删除吗?"
                        (nzOnConfirm)="onTableDelete(item)">删除
                    </a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="pagination-box">
        <div class="pagination-template">
            <ng-template #totalTemplate let-total> 共有 {{ tableData.total }} 条 </ng-template>
            <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]" nzShowSizeChanger nzShowQuickJumper
                [nzPageIndex]="queryForm.pageNum" [nzTotal]="tableData.total" [nzShowTotal]="totalTemplate"
                [nzPageSize]="queryForm.pageSize" (nzPageIndexChange)="onPageIndexChange($event)"
                (nzPageSizeChange)="onPageSizeChange($event)">
            </nz-pagination>
        </div>
    </div>
</main>

<nz-modal [(nzVisible)]="isModalShow" nzTitle="选择采购商品" (nzOnCancel)="onModalClose()" [nzFooter]="null"
    [nzStyle]="{ width: '1100px' }">
    <!-- 名称 -->
    <nz-form-item>
        <nz-form-label nzRequired>名称：</nz-form-label>
        <nz-form-control nzFlex="400px">
            <input nz-input [(ngModel)]="modalForm.word" placeholder="请输入" />
        </nz-form-control>
    </nz-form-item>
    <article class="modal-pic-box">
        <!-- 标签 -->
        <nz-form-item>
            <nz-form-label nzRequired>标签</nz-form-label>
            <nz-form-control>
                <nz-upload nzAccept="image/*" nzAction="" nzListType="picture-card" (nzChange)="onModalPreview($event)"
                    [nzShowUploadList]="false">
                    <ng-container *ngIf="!modalForm.hPicUrl">
                        <i class="upload-icon" nz-icon nzType="plus"></i>
                    </ng-container>
                    <img *ngIf="modalForm.hPicUrl" [src]="modalForm.hPicUrl" style="width: 100%" />
                </nz-upload>
            </nz-form-control>
        </nz-form-item>
    </article>
    <!-- 跳转方式 -->
    <nz-form-item>
        <nz-form-label nzRequired>跳转方式：</nz-form-label>
        <nz-form-control>
            <nz-radio-group [(ngModel)]="modalForm.type">
                <label nz-radio [nzValue]="0">链接</label>
                <label nz-radio [nzValue]="1">指定商品</label>
                <label nz-radio [nzValue]="2">搜索词</label>
            </nz-radio-group>
        </nz-form-control>
    </nz-form-item>
    <!-- 链接一： -->
    <nz-form-item>
        <nz-form-label nzRequired>链接：</nz-form-label>
        <nz-form-control nzFlex="400px">
            <input nz-input [(ngModel)]="modalForm.hUrl" placeholder="请输入" />
        </nz-form-control>
    </nz-form-item>

    <article class="modal-link-box">
        <!-- 开始时间 -->
        <nz-form-item>
            <nz-form-label nzRequired>开始时间：</nz-form-label>
            <nz-form-control nzFlex="400px">
                <nz-date-picker nzShowTime [(ngModel)]="modalForm.beginTime"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <!-- 结束时间 -->
        <nz-form-item>
            <nz-form-label nzRequired>结束时间：</nz-form-label>
            <nz-form-control nzFlex="400px">
                <nz-date-picker nzShowTime [(ngModel)]="modalForm.endTime">
                </nz-date-picker>
            </nz-form-control>
        </nz-form-item>
    </article>
    <footer class="app-modal-foot">
        <button nz-button nzType="default" (click)="onModalClose()">取消</button>
        <button nz-button nzType="primary" (click)="onConfirm()">确定</button>
    </footer>
</nz-modal>