.app-hardcore-area-search {
    display: flex;
    .bt-box {
        button {
            padding: 5px 10px;
        }
    }
    .search-box {
        flex: 1;
        justify-content: flex-end;
        text-align: right;

        .select-box {
            display: inline-block;
            margin-right: 20px;
            nz-form-label {
                margin-left: 20px;
            }
            nz-select {
                width: 120px;
            }
        }
    }
    [nz-button] {
        margin-right: 8px;
    }
    [nz-button-tdlink] {
        margin-right: 6px;
        padding: 0;
    }
}
.app-hardcore-area-main {
    margin-top: 10px;
    background: #fff;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    .pagination-box {
        height: 56px;
        line-height: 56px;
        padding: 0 18px;
        font-size: 12px;
        .pagination-template {
            float: left;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
    }
    nz-pagination {
        margin-top: 12px;
    }

    nz-table {
        th {
            height: 38px;
            padding: 0;
            color: #888;
            background: #fff !important;
            border-right: none !important;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            position: relative;
            &:nth-child(1) {
                width: 80px;
            }
        }
        td {
            height: 56px;
            padding: 0;
            font-size: 12px;
            border-right: none !important;
            border-bottom: 1px solid rgb(229, 229, 229) !important;
            &.searchHint {
                a {
                    margin-left: 10px;
                    color: #006eff;
                    display: inline-block;
                }
            }
            &.font1 {
                color: #008000;
            }
            &.font0 {
                color: orange;
            }
        }
        .pic-icon {
            width: 40px;
        }
    }
    .ant-table-tbody > tr.ant-table-row:hover > td {
        background: #f2f2f2;
    }

    :host ::ng-deep .ant-modal-footer {
        display: none;
    }

    .saveBtn {
        margin-top: 50px;
    }
    .pagination-box {
        height: 56px;
        line-height: 56px;
        padding: 0 18px;
        font-size: 12px;
        span {
            float: left;
        }
        .pagination-template {
            float: right;
        }
        &:after {
            content: " ";
            display: block;
            clear: both;
            height: 0;
            visibility: hidden;
        }
    }
}
.app-modal-foot {
    text-align: right;
    button {
        margin: 0 5px;
    }
}
