<div class="ad">
    <div class="bt-box">
        <button nz-button nzType="primary" [routerLink]="['../adSave']">新增广告项</button>
    </div>
    <!-- 查询 -->
    <div class="bt-search">
        <button nz-button nzType="primary">查询</button>
    </div>
    <div class="search-box">
        <!-- 状态 -->
        <div class="select-box">
            <nz-form-label>状态</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="全部">
                <nz-option nzLabel="启用" nzValue="启用"></nz-option>
                <nz-option nzLabel="禁用" nzValue="禁用"></nz-option>
                <nz-option nzLabel="草稿" nzValue="草稿"></nz-option>
            </nz-select>
        </div>
        <!-- 类型 -->
        <div class="select-box">
            <nz-form-label>类型</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="全部">
                <nz-option nzLabel="商品类" nzValue="商品类"></nz-option>
                <nz-option nzLabel="活动类" nzValue="活动类"></nz-option>
                <nz-option nzLabel="资讯类" nzValue="资讯类"></nz-option>
                <nz-option nzLabel="其他" nzValue="其他"></nz-option>
            </nz-select>
        </div>

        <!-- 标题 -->
        <div class="input-box">
            <nz-form-label>标题</nz-form-label>
            <input nz-input placeholder="请输入" nzSize="default" />
        </div>
    </div>
</div>

<main>
    <nz-table #rowSelectionTable nzShowSizeChanger>
        <thead>
            <tr>
                <th nzAlign="center">id</th>
                <th nzAlign="center">状态</th>
                <th nzAlign="center">类型</th>
                <th nzAlign="center">优先级</th>
                <th nzAlign="center">标题</th>
                <th nzAlign="center">说明备注</th>
                <th nzAlign="center">生效开始时间</th>
                <th nzAlign="center">生效截止时间</th>
                <th nzAlign="center">相关广告位</th>
                <th nzAlign="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td nzAlign="center">000</td>
                <td nzAlign="center">111</td>
                <td nzAlign="center">222</td>
                <td nzAlign="center">333</td>
                <td nzAlign="center">444</td>
                <td nzAlign="center">555</td>
                <td nzAlign="center">666</td>
                <td nzAlign="center">777</td>
                <td nzAlign="center">888</td>
                <td nzAlign="center">
                    <a nz-button nz-button-tdlink nzType="link">数据</a>
                    <a nz-button nz-button-tdlink nzType="link">编辑</a>
                    <a nz-button nz-button-tdlink nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="确认删除吗?">删除</a>
                </td>
            </tr>
        </tbody>
    </nz-table>

    <div class="pagination-box">
        <span>共 <strong>0</strong> 条</span>
        <div class="pagination-template">
            <ng-template #totalTemplate let-total> 共有 {{ total }} 条 </ng-template>
            <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]"nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="1">
            </nz-pagination>
        </div>
    </div>
</main>