<div class="dictionariesList">
  <h3>字典 [性别 >>> sys_sex] 的明细数据</h3>
  <div class="bt">
    <button nz-button nzType="primary" (click)="showAddressModal()">新增明细</button>
  </div>
  <div class="bt-list">
    <button nz-button nzType="primary" [routerLink]="['../dictionaries']">返回列表</button>
  </div>

</div>

<main>
  <nz-table  #rowSelectionTable [nzData]="listOfData" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzAlign="center">ID</th>
        <th nzAlign="center">显示名称</th>
        <th nzAlign="center">值</th>
        <th nzAlign="center">国家</th>
        <th nzAlign="center">操作系统</th>
        <th nzAlign="center">假名</th>
        <th nzAlign="center">备注</th>
        <th nzAlign="center">排序</th>
        <th nzAlign="center">颜色</th>
        <th nzAlign="center">状态</th>
        <th nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of rowSelectionTable.data; let i=index">
        <td nzAlign="center">{{i+1}}</td>
        <td nzAlign="center">{{data.name}}</td>
        <td nzAlign="center">{{data.content}}</td>
        <td nzAlign="center">{{data.field1 ? data.field1 : '---'}}</td>
        <td nzAlign="center">{{data.field2 ? data.field2 : '---'}}</td>
        <td nzAlign="center">{{data.field3 ? data.field3 : '---'}}</td>
        <td nzAlign="center">{{data.remark}}</td>
        <td nzAlign="center">{{data.sort}}</td>
        <td nzAlign="center">{{data.color}}</td>
        <td nzAlign="center">{{data.status== 1 ? '启用':'禁用'}}</td>
        <td nzAlign="center" [width]="'200px'">
            <a nz-button nz-button-tdlink nzType="link">编辑</a>
            <a nz-button nz-button-tdlink nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="确认删除吗?"
                [nzIcon]="iconTpl" (nzOnConfirm)="confirm()">删除</a>
            <ng-template #iconTpl>
                <i nz-icon nzType="question-circle-o" style="color: red;"></i>
            </ng-template>
        </td>
    </tr>
    </tbody>
  </nz-table>

  <div class="pagination-box">
    <div class="pagination-template">
      <ng-template #totalTemplate let-total> 共有 {{ total }} 条 </ng-template>
      <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]" nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="1"
        [nzTotal]="1" [nzShowTotal]="totalTemplate" [nzPageSize]="1" (nzPageIndexChange)="onPageIndexChange($event)"
        (nzPageSizeChange)="onPageSizeChange($event)">
      </nz-pagination>
    </div>
  </div>
</main>

<nz-modal [(nzVisible)]="isVisible" nzTitle="字典明细设置" (nzOnCancel)="handleCancel()" [nzFooter]="null">
  <form>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">上级</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">名称</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">键</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">值</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">国家</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">操作系统</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">假名</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">颜色</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="color">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">状态</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <nz-radio-group>
          <label nz-radio>启用</label>
          <label nz-radio>禁用</label>
        </nz-radio-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">备注</nz-form-label>
      <nz-form-control>
        <textarea rows="4" nz-input [maxLength]="100"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="4">
      <button nz-button nzType="primary">确定</button>
      &nbsp;
      <button nz-button nzType="default">取消</button>
    </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>