<div class="adPosition">
    <div class="bt-box">
        <button nz-button nzType="primary" [routerLink]="['../newsSend']">发送客户消息</button>
    </div>
    <!-- 查询 -->
    <div class="bt-search">
        <button nz-button nzType="primary">查询</button>
    </div>
    <div class="search-box">
        <!-- 状态 -->
        <div class="select-box">
            <nz-form-label>状态</nz-form-label>
            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择">
                <nz-option nzLabel="已读" nzValue="已读"></nz-option>
                <nz-option nzLabel="未读" nzValue="未读"></nz-option>
                <nz-option nzLabel="撤回" nzValue="撤回"></nz-option>
            </nz-select>
        </div>

        <!-- 名称 -->
        <div class="input-box">
            <nz-form-label>名称</nz-form-label>
            <input nz-input placeholder="请输入" nzSize="default" />
        </div>
    </div>
</div>

<main>
    <nz-table #rowSelectionTable nzShowSizeChanger>
        <thead>
            <tr>
                <th nzAlign="center">ID</th>
                <th nzAlign="center">状态</th>
                <th nzAlign="center">客户</th>
                <th nzAlign="center">关联ID</th>
                <th nzAlign="center">标题</th>
                <th nzAlign="center">交互形式</th>
                <th nzAlign="center">发送人</th>
                <th nzAlign="center">发送时间</th>
                <th nzAlign="center">过期时间</th>
                <th nzAlign="center">阅读时间</th>
                <th nzAlign="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td nzAlign="center">000</td>
                <td nzAlign="center">111</td>
                <td nzAlign="center">222</td>
                <td nzAlign="center">333</td>
                <td nzAlign="center">444</td>
                <td nzAlign="center">555</td>
                <td nzAlign="center">666</td>
                <td nzAlign="center">777</td>
                <td nzAlign="center">888</td>
                <td nzAlign="center">999</td>
                <td nzAlign="center">
                    <a nz-button nz-button-tdlink nzType="link" nzDanger nz-popconfirm nzPopconfirmTitle="确认撤回该消息?">撤回</a>
                    <a nz-button nz-button-tdlink nzType="link">复制消息</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
    <div class="pagination-box">
        <span>共 <strong>0</strong> 条</span>
        <div class="pagination-template">
            <ng-template #totalTemplate let-total> 共有 1 条 </ng-template>
            <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]"nzShowSizeChanger></nz-pagination>
        </div>
    </div>
</main>