<header class="header-nav">
    <div class="u-logo">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="">
        <span>爱思商城</span>
    </div>
    <div class="u-left-bt">
        <a>总览</a>
    </div>

    <div class="u-user">
        <div class="user-info">
            <img nz-image src="{{userInfo?.img}}" alt="" [nzFallback]="fallback">
            <span>{{userInfo?.realName}}</span>
        </div>
        <div class="user-menu">
            <a (click)="showAccountModal(userInfo?.id)"><i nz-icon nzType="user" nzTheme="outline"></i>账号信息</a>
            <a (click)="showRoleModal()"><i nz-icon nzType="edit" nzTheme="outline"></i>修改密码</a>
            <span class="user-line"></span>
            <a (click)="exit()">退出</a>
        </div>
    </div>
    <div class="u-right-bt">
        <a class="log" nzTooltipTitle="操作日志" nzTooltipPlacement="bottom" nz-tooltip><i nz-icon nzType="file-protect"
                nzTheme="outline"></i></a>
        <a class="message" nzTooltipTitle="消息中心" nzTooltipPlacement="bottom" nz-tooltip><i nz-icon nzType="message"
                nzTheme="outline"></i></a>
    </div>
</header>
<div class="container">
    <div class="menu-box {{isCollapsed ? 'shrink' : ''}}">
        <ul nz-menu nzMode="inline" nzTheme="dark">
            <li nz-submenu *ngFor="let item of navData; let i=index" nzTitle="{{item.name}}" [nzOpen]="item.open"
                nzIcon="{{item.icon}}" (nzOpenChange)="openMenu(item)">
                <ul>
                    <li nz-menu-item *ngFor="let items of item.children; let i=index" [nzSelected]="items.selected"
                        (click)="toRouter(items.path)">
                        {{items.name}}
                    </li>
                </ul>
            </li>
        </ul>
        <!-- <button nz-button nzType="primary" (click)="toggleCollapsed()">
      <i nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
    </button> -->
    </div>
    <main #mainScroll class="{{isCollapsed ? 'shrink' : ''}}">
        <div class="main_header">
            <h2> <a (click)="breadcrumbsPaht(breadcrumbs.backPath)" *ngIf="breadcrumbs.backPath"><i nz-icon
                        nzType="arrow-left" nzTheme="outline" style="color: #006eff;margin-right: 10px;"></i></a>
                {{breadcrumbs.breadcrumb}}
            </h2>
        </div>
        <div class="main_content">
            <router-outlet></router-outlet>
        </div>
    </main>
</div>


<nz-modal [(nzVisible)]="passwordModal" nzTitle="修改密码" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px" nzRequired>
            原密码
        </nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input placeholder="请输入原密码" [(ngModel)]="entityParam.oldPwd" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px" nzRequired>
            新密码
        </nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input placeholder="请输入新密码" [(ngModel)]="entityParam.passWord" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px" nzRequired>
            确认密码
        </nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input placeholder="请输入确认密码" [(ngModel)]="entityParam.affirmPassWord" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="5">
            <button nz-button nzType="primary" style="margin-right: 10px;" (click)="revisePwd()">保存</button>
            <button nz-button nzType="default" (click)="handleCancel()">取消</button>
        </nz-form-control>
    </nz-form-item>
</nz-modal>

<!-- 账号信息 -->
<nz-modal [(nzVisible)]="accountModal" nzTitle="我的资料" (nzOnCancel)="handleCancel()" [nzFooter]="null">
    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px" nzRequired>姓名</nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input type="text" [maxLength]="32" name="realName" [(ngModel)]="accountParam.realName"
                placeholder="请输入姓名" autocomplete="off">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px">联系方式</nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input type="text" [maxlength]="11" name="phoneNumber" [(ngModel)]="accountParam.phoneNumber" placeholder="请输入联系方式"
                autocomplete="off">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px">昵称</nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <input nz-input type="text" name="nickName" [(ngModel)]="accountParam.name" placeholder="请输入昵称"
                autocomplete="off">
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label nz-col nzFlex="100px">头像</nz-form-label>
        <nz-form-control nz-col nzFlex="200px">
            <label for="resFile" class="upFile" *ngIf="!accountParam.img">
                <i nz-icon nzType="plus"></i>
                <span>上传图片</span>
                <input id="resFile" type="file" name="img" [(ngModel)]="fileVal" multiple="multiple" accept="image/*"
                    (change)="handleFileInput($event)">
            </label>
            <div class="videoImg" *ngIf="accountParam.img">
                <img nz-image nzSrc="{{accountParam?.img}}" [nzFallback]="fallback" />
                <a (click)="deleteImg()">删除</a>
            </div>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="5">
            <button nz-button nzType="primary" (click)="accountSave()">确定</button>
            &nbsp;
            <button nz-button nzType="default" (click)="handleCancel()">取消</button>
        </nz-form-control>
    </nz-form-item>

</nz-modal>

<!-- <a class="refreshCache" (click)="refreshCache()">
  <i nz-icon nzType="sync" [nzSpin]="CacheLoadingOne" nzTheme="outline"></i>
  <span class="text">刷新缓存</span>
</a> -->