<div class="address">
  <div class="bt">
    <button nz-button nzType="primary" (click)="showAddressModal()">添加品牌</button>
  </div>

  <!-- 搜索 -->
  <div class="search-box">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input placeholder="请输入地址品牌名称" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch (click)="query()"><i nz-icon nzType="search"></i></button>
    </ng-template>
  </div>
</div>

<main>
  <nz-table [nzData]="listOfData" [nzFrontPagination]="false" [nzShowPagination]="false">
    <thead>
      <tr>
        <th nzAlign="center">ID</th>
        <th nzAlign="center">品牌名称</th>
        <th nzAlign="center">外文名</th>
        <th nzAlign="center">编码</th>
        <th nzAlign="center">排序</th>
        <th nzAlign="center">前端展示</th>
        <th nzAlign="center">状态</th>
        <th nzAlign="center">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of listOfData; let i = index;">
        <td nzAlign="center">{{ i+ 1 }}</td>
        <td nzAlign="center">{{ data.name }}</td>
        <td nzAlign="center">{{ data.nameEn }}</td>
        <td nzAlign="center">{{ data.code }}</td>
        <td nzAlign="center">{{ data.sort }}</td>
        <td nzAlign="center">{{ data.createTime }}</td>
        <td nzAlign="center">{{ data.status }}</td>
        <td nzAlign="center">
          <a nz-button nzType="link">修改</a>
          <a nz-button nzType="link">删除</a>
        </td>
      </tr>
    </tbody>
  </nz-table>

  <div class="pagination-box">
    <div class="pagination-template">
        <ng-template #totalTemplate let-total> 共有 {{ total }} 条 </ng-template>
        <nz-pagination [nzPageSizeOptions]="[10, 20, 50, 100]"nzShowSizeChanger nzShowQuickJumper [nzPageIndex]="1"
            [nzTotal]="1" [nzShowTotal]="totalTemplate" [nzPageSize]="1"
            (nzPageIndexChange)="onPageIndexChange($event)" (nzPageSizeChange)="onPageSizeChange($event)">
        </nz-pagination>
    </div>
</div>
</main>

<nz-modal [(nzVisible)]="isVisible" nzTitle="分类信息" (nzOnCancel)="handleCancel()" [nzFooter]="null">
  <form>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">名称</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text" placeholder="请输入简称">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">编码</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text" placeholder="请输入联系人">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">排序</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text" placeholder="请输入联系方式">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">外文名称</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <input nz-input type="text" placeholder="请输入联系方式">
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">前端展示</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <label nz-radio>展示</label>
        <label nz-radio>不展示</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzXs]="2" [nzSm]="4">状态</nz-form-label>
      <nz-form-control [nzFlex]="200">
        <label nz-radio>启用</label>
        <label nz-radio>禁用</label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSpan]="12" [nzOffset]="4">
      <button nz-button nzType="primary">确定</button>
      &nbsp;
      <button nz-button nzType="default">取消</button>
    </nz-form-control>
    </nz-form-item>
  </form>
</nz-modal>