main{
    width: 1360px;
    margin: auto;
    padding: 40px 40px 0 40px;
    background: #fff;
    .panelgroup {
        h3 {
            font-size: 14px;
            font-weight: 700;
        }
        .panel-bd {    
            padding-top: 10px;
            margin-bottom: 20px;
        }
        .bt-box {
            margin-bottom: 10px;
        }
        .pagination-box {
            height: 56px;
            line-height: 56px;
            padding: 0 18px;
            font-size: 12px;
            .pagination-template {
                float: right;
            }
            &:after {
                content: " ";
                display: block;
                clear: both;
                height: 0;
                visibility: hidden;
            }
        }
        ul {
            li {
                height: 40px;
                line-height: 40px;
                font-size: 12px;
                .key {
                    width: 114px;
                    color: #888;
                    text-align: left;
                    float: left;
                }
                .val {
                    // float: left;
                    float: left;
                    text-align: left;
                    margin-left: 10px;
                    width: 230px;
                }
                &:after {
                    content: " ";
                    display: block;
                    clear: both;
                    height: 0;
                    visibility: hidden;
                }
            }
            &:after {
                content: " ";
                display: block;
                clear: both;
                height: 0;
                visibility: hidden;
            }
        }
        dl {
            margin-top: 20px;
            padding-left: 20px;
            dd {
                width: 200px;
                height: 88px;
                margin-bottom: 20px;
                color: #000;
                text-align: left;
                float: left;
                .key {
                    font-size: 12px;
                    font-weight: bold;
                }
                .val {
                    .number {
                        font-size: 36px;
                    }
                    .unit {
                        margin-left: 10px;
                    }
                }
            }
            &:after {
                content: " ";
                display: block;
                clear: both;
                height: 0;
                visibility: hidden;
            }
        }
    }
    
}
.submit-box{
  width:100%;
  height: 70px;    
  position: relative;
  .bt-box{
    position: absolute;
    left: 0;
    bottom: 15px;
    top: 18px;
  }
}

[nz-button] {
    margin-right: 8px;
}