<main>
    <nz-table #rowSelectionTable nzShowSizeChanger>
        <thead>
            <tr>
                <th nzAlign="center">会员等级</th>
                <th nzAlign="center">状态</th>
                <th nzAlign="center">名称</th>
                <th nzAlign="center">获得条件</th>
                <th nzAlign="center">会员权益</th>
                <th nzAlign="center">升级礼包</th>
                <th nzAlign="center">会员数</th>
                <th nzAlign="center">卡面</th>
                <th nzAlign="center">备注</th>
                <th nzAlign="center">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td nzAlign="center">111</td>
                <td nzAlign="center">222</td>
                <td nzAlign="center">333</td>
                <td nzAlign="center">444</td>
                <td nzAlign="center">555</td>
                <td nzAlign="center">666</td>
                <td nzAlign="center">777</td>
                <td nzAlign="center">888</td>
                <td nzAlign="center">999</td>
                <td nzAlign="center">
                    <a nz-button nz-button-tdlink nzType="link">编辑</a>
                </td>
            </tr>
        </tbody>
    </nz-table>
</main>