<main>
    <form>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4" nzRequired>
                类型
            </nz-form-label>
            <nz-form-control nzFlex="400" nzErrorTip="必选">
                <nz-radio-group>
                    <label nz-radio nzValue="物流动态">物流动态</label>
                    <label nz-radio nzValue="通知公告">通知公告</label>
                    <label nz-radio nzValue="活动优惠">活动优惠</label>
                    <label nz-radio nzValue="消息提醒">消息提醒</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4" nzRequired>
                所属平台
            </nz-form-label>
            <nz-form-control nzFlex="400px" nzErrorTip="必选">
                <nz-radio-group>
                    <label nz-radio nzValue="无">无</label>
                    <label nz-radio nzValue="配件商城">配件商城</label>
                    <label nz-radio nzValue="二手回收">二手回收</label>
                    <label nz-radio nzValue="二手商城">二手商城</label>
                </nz-radio-group>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4" nzRequired>
                通知方式
            </nz-form-label>
            <nz-form-control nzFlex="147px" nzErrorTip="必选">
                <nz-checkbox-wrapper class="checkbox-box">
                    <label nz-checkbox nzValue="短信">短信</label>
                    <label nz-checkbox nzValue="爱思平台消息中心">爱思平台消息中心</label>
                    <label nz-checkbox nzValue="微信模板消息">微信模板消息</label>
                    <label nz-checkbox nzValue="APP消息推送">APP消息推送</label>
                </nz-checkbox-wrapper>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">
                标题
            </nz-form-label>
            <nz-form-control nzFlex="400px">
                <input nz-input type="text" placeholder="请输入">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">
                链接
            </nz-form-label>
            <nz-form-control nzFlex="400px">
                <input nz-input type="text" placeholder="请输入">
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">图片</nz-form-label>
            <nz-form-control nzFlex="100px">
                <nz-upload class="upload-list-inline" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                    nzListType="picture-card">
                    <div>
                        <i nz-icon nzType="plus"></i>
                    </div>
                </nz-upload>
                <!-- <img style="width: 100%" /> -->
            </nz-form-control>
            <p>建议x：y的图片尺寸</p>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">
                摘要
            </nz-form-label>
            <nz-form-control nzFlex="400px">
                <nz-mention>
                    <textarea rows="2" nz-input placeholder="请输入"></textarea>
                </nz-mention>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">过期时间</nz-form-label>
            <nz-form-control nz-col nzFlex="400px">
                <nz-date-picker nzShowTime nzFormat="yyyy-MM-dd HH:mm:ss"></nz-date-picker>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="2" [nzXs]="4">
                发放人群
            </nz-form-label>
            <nz-form-control nzFlex="400px">
                <input nz-input type="text" placeholder="请输入用户ID，多个用英文逗号分隔">
            </nz-form-control>
            <nz-form-control>
                或者&nbsp;
                <button nz-button nzType="primary">选择用户</button>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="3" [nzXs]="4">
                目标人数
            </nz-form-label>
            <nz-form-control>
                5474人
            </nz-form-control>
        </nz-form-item>

    </form>

    <div class="submit-box">
        <div class="bt-box">
            <button nz-button nzType="primary">立即发送</button>
            &nbsp;
            <button nz-button nzType="primary">定时发送</button>
            &nbsp;
            <button nz-button nzType="default">返回</button>
        </div>
    </div>
</main>